$siteMaxWidth: 650px;

$fontColor: white;
$fontFamily: 'Lucida Grande', Tahoma, Verdana, Arial;
$fontWeight: 100;
$linkColor: white;

$grayColor: #eee;
$whiteColor: white;
$darkGrayColor: #ccc;
$margin: 15px;

$breakPointOne: 550px;
$breakPointTwo: 800px;