body {
    color: #333;
    font-size: 75%;
    font-family: $fontFamily;
    font-weight: $fontWeight;
}

.gradient {
    background: #16a5ff;
    background: radial-gradient(ellipse at top left, #04c7c9 30%, #16a5ff 100%);
    color: white;
}

.clearfix:after {
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

a {
    color: $linkColor;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
