@(message: String)

@main("LoremII") {

    <section class="gradient flowers">
        <header class="clearfix">
            <a href="#">Lorem</a>
            <nav>
                <a href="#">Features</a>
                <a href="#">Pricing</a>
                <a href="#">About</a>
            </nav>
        </header>
        <article>
            <h1>Lorem ipsum dolor</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia est non elementum bibendum. Mauris ullamcorper diam sed nunc cursus, a fringilla orci hendrerit. Ut a est eu libero egestas pretium.</p>
        </article>
        <img src="@routes.Assets.at("images/flowers.png")" class="flowers">
    </section>

    <section class="modules">
        <div>
            <div class="module">
                <img src="@routes.Assets.at("images/module-image-one.png")">
                <h3>Lorem ipsilum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia est non elementum bibendum. Mauris ullamcorper diam sed nunc cursus, a fringilla orci hendrerit.</p>
            </div>
            <div class="module">
                <img src="@routes.Assets.at("images/module-image-two.png")">
                <h3>Lorem ipsilum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia est non elementum bibendum. Mauris ullamcorper diam sed nunc cursus, a fringilla orci hendrerit.</p>
            </div>
            <div class="module">
                <img src="@routes.Assets.at("images/module-image-three.png")">
                <h3>Lorem ipsilum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia est non elementum bibendum. Mauris ullamcorper diam sed nunc cursus, a fringilla orci hendrerit.</p>
            </div>
        </div>
    </section>

    <section class="gradient">
        <div>
            <img src="@routes.Assets.at("images/map.png")" class="map">
        </div>
    </section>

    <section class="signup">
        <div>
            <div class="signup-info">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                <p>Quisque lacinia est non elementum bibendum. Mauris ullamcorper diam sed nunc cursus, a fringilla orci hendrerit.</p>
            </div>
            <button>Sign up free</button>
        </div>
    </section>

    <section>
        <footer>
            <nav>
                <a href="#">Terms of Service</a>
                <a href="#">Privacy Policy</a>
            </nav>
        </footer>
    </section>

}
